{% extends "base.html" %}
{% block title %}Dank Memes{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row row-cols-4">
        {% for meme in memes %}
        <div class="card col m-3 p-1" style="width: 18rem;">
            <img src="/memes/{{meme.id}}/view" class="card-img-top" alt="{{meme.name}}">
            <div class="card-body">
                <a class="card-text btn stretched-link" href="/memes/{{meme.id}}">{{meme.name}}</a>
                <p>Shared by {{meme.owner.name}} (<a href="/users/{{meme.owner.id}}" style="position: relative; z-index: 1">{{meme.owner.username}}</a>)</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}