/* This file is out-of-scope for vulnerabilities */
.outPopUp {
    position: absolute;
    width: 300px;
    height: 200px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
}

.hideLoading {
    visibility: hidden;
}

.showLoading {
    visibility: visible;
}

